<h2 class="m-5">Spectacles</h2>

<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-lg-12 col-xs-1">

            <div class="justify-content-around d-flex flex-wrap">

                {% for spectacle in spectacles %}

                    <div class="card m-5" style="width: 25rem;">
                        <img src="{{spectacle.image}}" class="card-img-top" alt="image-spectacle">
                        <div class="card-body">
                            <h5 class="card-title">{{spectacle.name}}</h5>
                            <p class="card-text">{{ spectacle.description }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> {{ spectacle.date|date('d/m/Y H:i') }}</li>
                            <li class="list-group-item">Prix: {{spectacle.price}} €</li>
                        </ul>
                        <div class="card-body">
                            <a href="{{ path('actor_index', {'slug': spectacle.id }) }}" class="card-link">En savoir plus</a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
</div>